
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/toastr/toastr";


.navbar-brand {
	padding: 7px 15px;

	img {
		height: 35px;
	}
}

.section {
	padding-top: 8em;
	padding-bottom: 8em;
	background-color: #fff;
}

section#hero {
	.jumbotron.hero {
		color:  #fff;
		margin-bottom: 0;
		background: 
				linear-gradient(
					rgba(0, 0, 0, .7),
					rgba(0, 0, 0, .9)
				),
				url('../images/madeena-hero.jpg') no-repeat center top;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		.btn {
			margin-top: 3em;
			width: 200px;
			letter-spacing: 1px;
			font-weight: bold;
			background: darken($brand-warning, 6%);
			color: white;
			text-transform: uppercase;
		}
	}
}